/* LAYOUT */
@font-face{
		font-family: 'gothambookregular';
	    src: url('../fonts/gothambook-webfont.eot');
	    src: url('../fonts/gothambook-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/gothambook-webfont.woff') format('woff'),
	         url('../fonts/gothambook-webfont.ttf') format('truetype'),
	         url('../fonts/gothambook-webfont.svg#gothambookregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
}
@font-face{
		font-family: 'gothamlightregular';
	    src: url('../fonts/gothamlight-webfont.eot');
	    src: url('../fonts/gothamlight-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/gothamlight-webfont.woff') format('woff'),
	         url('../fonts/gothamlight-webfont.ttf') format('truetype'),
	         url('../fonts/gothamlight-webfont.svg#gothamlightregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
}
body{
	background: #fff;
	font-family: Arial;
	color: #280b00;
}
.be_640{
	min-width: 640px;
}
.clear{
	clear: both;
}
.padded32{padding:32px;}
.font-bold{font-weight: bold;}
.font-gotham{font-family: 'gothambookregular';}
.font-gothamlight{font-family: 'gothamlightregular';}
.blue_button{
	background-color: #2686db;
	text-align: center;
	font-size: 24px;
	color:#fff;
	font-weight: normal;
	padding: 10px 0px;
	margin-bottom: 5px;
}
.blue_button a{
	color: #fff;
	display: block;
	height: 100%;
	width: 100%;
}
.blue_button a:hover{
	text-decoration: none;
}
.header .navigation{
	background: #2a90e8;
	padding: 20px 0;
}
.navigation .more{
	margin-right: 20px;
}
.navigation .home{
	margin-right: 10px;
}
.navigation .search{
	margin-right: 10px;
}
.header .logo{
	background: #2686db;
}
.header .compete_menu{
	padding-top: 4px;
	background: url('../images/compete_shadow.png') repeat-x;
	color:#fff;
	font-size: 45px;
}
.header .compete_menu a{
	color: #FFF;
}
.header .compete_menu a:hover{
	text-decoration: none;
}
.header .compete_menu .more_list{
	margin-bottom: 6px;
}
.header .navigation, .header .logo, .header .compete_menu{
	padding-left:  34px;
	padding-right:  34px;
}
.navigation .nav_btn{
	background-color: #000;
	border-radius: 0px;
	display: block;
	float: left;
	padding:12px 7px;
}
.navigation .nav_btn.home{
	padding-left: 12px;
	padding-right: 12px;
}
.navigation .nav_btn.menu, .navigation .nav_btn.shopping_cart{
	font-size: 28px;
	color:#fff;
	padding: 12px 20px 8px 20px;	
}
.navigation .nav_btn.menu{
	min-width: 165px;
}
.navigation .nav_btn.shopping_cart{
	min-width: 132px;
}
.navigation .nav_btn.menu:hover, .navigation .nav_btn.shopping_cart:hover{
	text-decoration: none;
}
.navigation .nav_btn.menu img{
	float: right;
	margin-top: 10px;
	margin-left: 10px;
}
.navigation .nav_btn.shopping_cart img{
	margin-top: -3px;
}
.navigation .nav_btn.search{
	padding-left: 15px;
	padding-right: 15px;
}
.header .logo, .footer .logo{
	padding: 25px 0px;
	text-align: center;
}

ul.quicklinks{
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-top: 1px solid #dbd7d8;
}
ul.quicklinks li{
	border-bottom: 1px solid #dbd7d8;
	padding:8px 20px 8px 32px;
	font-size: 42px;
	font-weight: bold;
	color: #035bad;
}
ul.quicklinks li a{
	color: #035bad;	
	display: block;
}
ul.quicklinks li a img{
	float: right;
	margin-top: 15px;
}
.other_links{
	background: #2a90e8;
	padding-top: 42px;
	padding-left: 32px;
	font-size: 50px;
	color:#ffffff;
}
.other_links ul.website_links{
	list-style: none;
	padding-left: 0px;
	padding-right: 32px;
}
.other_links ul.website_links li{
	border-bottom: 1px dotted #95c8f4;
	padding-bottom: 18px;
	padding-top: 18px;
}
.other_links ul.website_links li img{
	margin-right: 10px;
	margin-top: -5px;
}
.other_links ul.website_links a{
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
	display: block;
}
.other_links ul.contact_links, .other_links ul.contact_links a{
	font-size: 25px;
	display: block;
	color: #ffffff;
	font-weight: normal;
}
.footer{
	background: #2686db;
	margin-top: -11px;
	padding-bottom: 25px;
}
.footer .details{
	font-size: 23px;
	color: #FFFFFF;
	padding-left: 32px;
}

/* INDEX 1 */
.single_event_wrapper{
	padding: 22px 32px;
}
.single_event_wrapper .back{
	font-size: 24px;
	color: #035bad;	
}
.single_event_wrapper .event_name{
	margin-top: 12px;
	font-size: 35px;
	color:#280b00;
	background: url('../images/single_event_lbl_fill.png') repeat-x;
	float: left;
	height: 58px;
	padding: 6px 12px 2px 12px;
}
.single_event_wrapper .event_name_r{
	float: left;
	width: 60px;
	height: 58px;
	background: url('../images/single_event_lbl_r.png') no-repeat;
	margin-top: 12px;
}
.single_event_wrapper .event_short_desc{
	font-size: 24px;
}
.single_event_wrapper .event_short_desc img{
	margin-right: 9px;
}
.single_event_wrapper .event_short_desc .entries_open{
	margin-bottom: 10px;
}
.single_event_wrapper .event_short_desc .event_info{
	margin-top: 22px;
	line-height: 26px;
	padding-right: 14px;
}
.single_event_wrapper .sponsors .blue_button{
	max-width: 290px;
	float: right;
	width: 100%;
}
.single_event_wrapper .sponsored_by{
	font-weight: bold;
	font-size: 24px;
	color: #035bad;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 35px;
	max-width: 290px;
	float: right;
	width: 100%;
}
.single_event_wrapper .sponsored_by .sponsor_placeholder{
	margin-top: 20px;
	height: 150px;
	background: #ff0099;
}
.single_event_wrapper .event_information{
	margin-top: 30px;
	background: #f9f9f5;
	border: 1px solid #dedede;
	padding: 28px 20px;
	font-size: 24px;
	line-height: 26px;
	position: relative;
	overflow: hidden;
}
.event_information .event_info_btn{
	max-width: 347px;
	text-align: left;
	padding:14px 15px 10px 15px;
	font-weight: normal;
}
.event_information .event_info_btn img{
	width: 20px;
	float: right;
	margin-top: 5px;
}
.event_information hr{
	border-bottom: 1px solid #dedede;
	width: 120%;
	margin-left: -20px;
	margin-top: 45px;
	margin-bottom: 25px;
}
.event_information .event_title, .event_information .course_title, .event_information .classes_title{
	font-size: 30px;
	color: #035bad;
	font-weight: bold;
	margin-bottom: 20px;
}
.event_information .location .part{
	margin-bottom: 25px;
}
.event_information .location .part .contact_organiser, .event_information .more_course_desc, .event_information .more_from_fees{
	margin-top: 15px;
	margin-bottom: 25px;
	float: left;
	font-size: 24px;
	color: #035bad;
}
.event_information .more_from_fees{
	margin-bottom: 0px;
}
.event_information p{
	margin-bottom: 18px;
}
.social_networks{
	margin-top: 20px;
	margin-bottom: 48px;
}
.social_networks .twitter{
	float: left;
	font-size: 24px;
	font-weight: bold;
	color: #035bad;
}
.social_networks .facebook{ 
	float: right;
	font-size: 24px;
	font-weight: bold;
	color: #035bad;
}

/* INDEX 2 */
.slider{
	position:relative;
}
.slider img{width: 100%;}
.slide_l{
	position: absolute;
	width:69px;
	height:88px;
	background: url('../images/slide_l.png') no-repeat;
	top:50%;
	left: 0px;
	margin-top: -44px;
}
.slide_r{
	position: absolute;
	width:69px;
	height:88px;
	background: url('../images/slide_r.png') no-repeat;
	top:50%;
	right: 0px;
	margin-top: -44px;
}
.compete_wrapper{
	padding:32px 32px 0px 32px;
	background: url('../images/compete_shadow2.png') repeat-x;
	font-size: 30px;
}
ul.events_list{
	list-style: none;
	padding-left: 0px;
	background-color: #f9f9f5;
	border: 1px solid #dedede;
}
ul.events_list li{
	font-size: 25px;
	font-weight: bold;
	padding:16px 20px;
	border-bottom: 1px solid #dedede;
}
ul.events_list li a{
	color: #035bad;
}
ul.events_list li img{
	float: right;
	margin-top: 8px;
}
@media (max-width: 768px){
	.col-3, .col-2{padding-left: 0px;}
	.navigation .col-3.menu{margin-left: -20px;margin-right: 35px;}
	.navigation .col-3.shopping_cart{margin-left: -15px;}
	.navigation .col-2.search{margin-right: -15px;}

}
@media (max-width: 643px){
	.single_event_wrapper .event_name{font-size: 30px;padding:10px 12px 0px 12px;}
}
@media (max-width: 576px){
	.single_event_wrapper .event_name{font-size: 28px;}
}
@media (max-width: 540px){
	.single_event_wrapper .event_name{font-size: 25px;padding:13px 12px 0px 12px;}
}
@media (max-width: 515px){
	.single_event_wrapper .event_name{font-size: 19px;}
}